* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 20px 130px 20px 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    background-color: rgb(200, 200, 200);
}

.main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;

}

nav {
    flex: 2;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 5.1px;
}

.profile {
    height: 90%;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
}

#profile_pic {
    height: 65%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    background-color: rgb(120, 120, 120);
}

nav>ul>li {
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 30px;
    box-shadow: 9px 9px 48px rgba(59, 89, 152, .07);
    border-radius: 8px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #fe451b;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
}
nav>ul>li:hover {
    background-color: #fe451b;
    color: white;
}

.info>h2 {
    width: 80%;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35%;
    width: 100%;
    border-radius: 0px 0px 20px 20px;

}

.details {
    height: 80%;
    flex: 6;
    background-color: white;
    border-radius: 20px;
    /* padding: 50px; */
    overflow: scroll;
}
.details > div >  h3 {
    color: #fe451b;
    margin-bottom: 30px;

}
.details > div  {
    margin: 40px;
}

.profile, .nav, .details {
    margin: 20px;
}



.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    animation: cursor-animation 0.5s infinite alternate;
}

@keyframes cursor-animation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
